*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans" sans-serif;
    box-sizing: border-box;
}

a, a:visited{
    /* background-color: #505050; */
    color: black;
    /* color: #ffee58; */
    /* background-color: white; */
    text-decoration: none;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #f1f1f1;
}

a{
    text-decoration: none;
}

.logo-org{
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;   
}

#tab-btn-login,
#tab-btn-registro{
    color: black;
}

#name-org img{
    object-fit: cover;
    height: 70px;
    margin-left: 10px;
}


.header{
    display: flex;
    width: 100%;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0db4f;
    grid-area: header;
}

.info{
    display: flex;
    cursor: pointer;
}
.info a, .info div{
    margin: 0px;
}

.btn-header{
    padding: 20px;
    font-weight: 1000;
}

.btn-header a div {
    margin: 20px;
}

.btn-header:hover,
#tab-btn-login:hover,
#tab-btn-registro:hover,
#btn-inicio:hover
#btn-red:hover{
    background-color: black;
    color: white;
}#name-org{
    font-size: 50px;
}

.vision-seccion{
    background: url(../img/vision01.jpeg) no-repeat left;
}

.mision-seccion{
    background: url(../img/mision01.jpeg) no-repeat left;
}

.mision-vision-seccion{
    background-size: 55%;
    height: 85vh;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 90px 0;
}
    
.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 50px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: 40px;
    margin-bottom: 40px;
}


.valores{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    font-size: 13px;
}


@media screen and (max-width: 1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width: 1000px){
    .mision-vision-seccion{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .mision-vision-seccion{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}


