body, html {
    height: 90%;
}

html{
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}

body > * {
    font-family: 'Open Sans', sans-serif;
    color:  #f2f3f4;
}

body{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows:90px 800px 300px 300px 10px;
    grid-template-areas: 
    "header     header"
    "hero-image hero-image"
    "mision     mision"
    "vision     vision"
    "footer     footer";

    background-color:   #505050;
}


a, a:visited{
    text-decoration: none;
    color: #f2f3f4;
}

/* logo */
.logo{
    height: 60px;
    width: 60px;
    filter: brightness(0) invert(1)
}

/* logo and organization name */
.logo-org{
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    
}

/* header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}

#name-org{
    font-size: 50px;
}

.info{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.info a, .info div{
    margin: 20px;
}

/*Hero image*/
.hero-image{
    background-image: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)) ,url("../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero-image;

}

.hero-text{
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.hero-text > *{
    margin: 20px;
}

.hero-text > p {
    font-size: 50px;
}

.mision, .vision{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.container-mision, .container-vision{
    margin: 10px;
    padding: 20px;
    width: 500px;
}

.container-mision > p, .container-vision > p{
    margin: 5px;
    padding: 10px;
}

.container-mision > p:first-child{
    font-size: 50px;
}

.container-vision > p:first-child{
    font-size: 50px;
}
.img-mision{
    background-image: url("../img/mision.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 700px;
    border-radius: 20px;
}


.img-vision{
    background-image: url("../img/vision.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 700px;
    border-radius: 20px;
}


.mision{
    grid-area: mision;    
    padding: 50px;
}

.vision{
    grid-area: vision;
    padding: 50px;
}


.footer{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 5px;
    grid-area: footer;
}

.footer > * {
    padding: 20px;
}


.box-search input{
    padding: 10px;
    height: 15px;
    width: 390px;
    border: none;
    border-radius: 50px;
}

.box-search button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    background-color: #f8f2f2;
    /* background-color: #1d1c1c; */
}

.btn-search{
    color: #131314fb;   
    
}

.box-search{
    display: flex;
    justify-content: center;
    gap: 5px;
}