#btn-usuario{
    margin-right: 20px;
}

.body-usuario{
    display: flex;
}

div, input, label, p{
    margin: 5px;
    padding: 5px;
}

div > label {
    width: 500px;
}


.input-usuario{
    width: 600px;
}

.menu-usuario{
    margin: 40px;
    width: 200px;
}

.info-usuario > *{
    width: 20px;
    height: 20px;
}

input{
    height: 20px;
    width: 200px;
}

.container-usuario-info{
    display: flex;
    flex-direction: column;
}


.container-detalle-perfil,
.experiencia{
    margin: 10px;
    height: 250px;
    width: 330px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    
}

.info-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experiencia{
    /* display: flex; */
    justify-content: space-evenly;
    width: 500px;
}

.container-foto-perfil > img{
    width: 150px;
    height: 150px;
    border-radius: 90%;
}

.container-horas,
.container-reconocimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-horas > img,
.container-reconocimiento > img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.container-reconocimiento > img{
    background-color: aliceblue;
}

.nombre-usuario{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.img-cert > img {
    width: 200px;
    height: 150px;
}

/* card */
.container-programas{
    width: auto;
}

.container-programas{
    display: flex;
}

.container{
    display: flex;
    flex-direction: row;    
}

.card{
    width: 240px;
    padding: 0px;
    background: #fff;
    box-shadow:  0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    /* border-radius: 10px; */
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}


.card img{
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    width: 240px;
    height: 200px;
}

.card .contenido{
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido h3{
    color: #6a6a6a;
}


figure img{
    object-fit: cover;
}

#perfil,
#certificaciones,
#programas,
.nombre-usuario > *
{
    color: black;
}

.container-certificaciones{
    display: flex;
}



